html{
    box-sizing: border-box;
    font-size: 62.5%;
}
*, *:before, *:after{
    box-sizing: inherit;
}

/* Globales */
.contenedor{
    max-width: 120rem;
    margin: 0 auto;
    width: 95%;
}
img{
    max-width: 100%;
}
body{
    background-color: blueviolet;
}

/* Header */
.site-header{
    text-align: center;
    padding: 4rem 0;
}